#page-map h1 { text-align: center; }
#page-map .map-wrapper {
text-align: center;
margin: 20px auto;
}
#page-map img {
max-width: 100%;
height: auto;
border: 5px solid #fff;
box-shadow: 0 10px 20px rgba(0,0,0,0.3);
display: block;
margin: 0 auto;
}