nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #263238;
    position: sticky;
    top: 0;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #4fc3f7;
}
